<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUtilisateur</servlet-name>
        <servlet-class>servlets.ServletUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMorceau</servlet-name>
        <servlet-class>servlets.ServletMorceau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPanier</servlet-name>
        <servlet-class>ServletPanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUtilisateur</servlet-name>
        <url-pattern>/ServletUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMorceau</servlet-name>
        <url-pattern>/ServletMorceau</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ServletPanier</servlet-name>
        <url-pattern>/ServletPanier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
